<template name="Home">



  <div class="home">

    <div class="navbar navbar-default" role="navigation">
      <div class="navbar-header">
          <a class="navbar-brand" href="#">3121</a>
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
          </button>
      </div>
      <div class="navbar-collapse collapse">
          <!-- <ul class="nav navbar-nav">
              <li class="active"><a href="#">Link</a></li>
          </ul> -->
          <ul class="nav navbar-nav navbar-right">
              {{> loginButtons}} <!-- here -->
          </ul>
      </div>
    </div>



    <section class="news container">



          <div class="panel panel-default">
            <!-- Default panel contents -->
            <!-- <div class="panel-heading">Top frequency words</div> -->
            <div class="panel-heading">
              <h3 class="panel-title">Top frequency words</h3>
            </div>

            <!-- Table -->
            <table class="table">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Word</th>
                  <th>Times</th>
                </tr>
              </thead>
              <tbody>
                {{#each countWord}}
                  <tr>
                    <td>{{ add @index }}</td>
                    <td>{{text}}</td>
                    <td>{{count}}</td>
                  </tr>
                {{/each}}
              </tbody>
            </table>
          </div>


      {{#with news}}
        <div class="well ">
               <form class="form-horizontal" role="form" data-pubDate="{{pubDate}}" >
                <h4>{{title}}</h4>

                <!-- <br>
                <div class="fb-share-button" data-href="http://128.199.70.86:3080/" data-layout="icon_link"></div>
                <br> -->


                <div style="height:20px">
                  {{> facebookShare href='http://128.199.70.86:3080/' }}
                </div>

                <div class="content">
                  {{{description}}}
                </div>


                {{#if currentUser}}
                <hr>
                <div class="btn-group btn-group-justified" role="group" aria-label="...">
                 <div class="btn-group emotionBtn" data-pubDate="{{pubDate}}" data-emotion="happy" role="group" {{isVote pubDate }} >
                   <button type="button" class="btn btn-default" {{isVote pubDate }}>
                     <img width=30 src="happy.svg" alt="">
                     &nbsp; {{getPercent pubDate 'happy' }}%
                   </button>
                 </div>
                 <div class="btn-group emotionBtn" data-pubDate="{{pubDate}}" data-emotion="sad" role="group" {{isVote pubDate }}>
                   <button type="button" class="btn btn-default" {{isVote pubDate }}>
                     <img width=30 src="sad.svg" alt="">
                     &nbsp; {{getPercent pubDate 'sad' }}%
                   </button>
                 </div>
                 <div class="btn-group emotionBtn" data-pubDate="{{pubDate}}" data-emotion="shock" role="group" {{isVote pubDate }}>
                   <button type="button" class="btn btn-default" {{isVote pubDate }}>
                     <img width=30 src="shock.svg" alt="">
                     &nbsp; {{getPercent pubDate 'shock' }}%
                   </button>
                 </div>
               </div>
                <hr>

                  <div class="form-group" style="padding:14px;">
                     <textarea class="textarea form-control " name="comment" placeholder="Leave your comments"></textarea>
                   </div>
                   <div class="clearfix">
                       <input type="submit" class="btn btn-success pull-right" value="Post">
                   </div>

                   <hr>
                   {{#each comments}}

                     <div class="media" style="margin-left:50px;">
                      <div class="media-left">
                        <a href="#">
                          <img class="media-object" width=60 src="http://graph.facebook.com/{{user.services.facebook.id}}/picture" alt="...">
                          <!-- "http://graph.facebook.com/"+Meteor.user().services.facebook.id+"/picture?width=300&height=445"; -->
                        </a>
                      </div>
                      <div class="media-body">
                        <h6>{{user.profile.name}}</h6>
                        {{comment}}
                      </div>
                    </div>
                   {{/each}}
                {{else}}
                  <h4 style="color:rgb(221, 26, 143)">Login Please before comment</h4>
                {{/if}}
              </form>
        </div>
      {{/with}}



    </section>

  </div>
</template>
